body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
    /*COMENTARIO*/
}

.titulo {
    font-size: large;
}


.contenido{
    color: rebeccapurple;
    font-size: larger;
}

/*comentario*/